.watchlist-container {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  z-index: -1;
}

.shares-owned-preview-container {
  height: fit-content;
}

.watchlist-container > button {
  background-color: white;
  border: none;
  color: red;
  font-size: 10px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 5px;
  padding: 10px;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchlist-container > button:hover {
  color: black;
  background-color: red;
  width: 10px;
  height: 10px;
  cursor: pointer
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid green 1px;
  box-sizing: border-box;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.my-shares-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  border-bottom: solid green 1px;
  box-sizing: border-box;
}

.main-share-container {
  border-bottom: solid green 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.shares-info-container {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.shares-stats-container {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.list-header > button {
  width: 25px;
  height: 25px;
}

.main-list-container {
  position: fixed;
  left: 70%;
  top: 75px;
  width: 20%;
  height: 84%;
  border: solid green 1px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.main-list-container::-webkit-scrollbar {
    display: none;
}

.delete-watchlist-modal {
  width: 600px;
  height: 181px;
  margin: 15px;
}

.delete-watchlist-confirm {
  margin-bottom: 25px;
}

.delete-watchlist-button {
  background-color: red;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  margin: 5px;
}

.delete-watchlist-button:hover {
  background-color: rgb(255, 66, 66);
}

.dont-delete-watchlist-button {
  background-color: gray;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  margin: 5px;
}

.dont-delete-watchlist-button:hover {
  background-color: rgb(163, 163, 163);
}

.delete-watchlist-button-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
