.watchlist-container {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

.shares-owned-preview-container {
  background-color: greenyellow;
  height: 100px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid black;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-chart {
  width: 2000px;
  height: 50px;
}

.my-shares-header {
  display: flex;
  align-items: center;
  height: 50px;
    padding-left: 10px;
}

.main-share-container {
  border: solid brown;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shares-info-container {
    padding-left: 10px;
}

.list-header > button {
  width: 25px;
  height: 25px;
}

.main-list-container {
  position: static;
  left: 70%;
  width: 20%;
  max-height: 84%;
  border: solid red;
  box-sizing: content-box;
  overflow-y: scroll;
}

.main-list-container::-webkit-scrollbar {
    display: none;
}
