.users-transactions > h1 {
    padding-top: 67px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.transactions-history-container {
    width: 50%;
    margin: auto;
}
.transaction-left-title,
.transaction-right-total {
    font-weight: bold;
}
.transaction-left-created {
    color: gray;
}
.transaction {
    border-top: 1px solid rgb(244 230 230);
    border-bottom: 1px solid rgb(244 230 230);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.users-transactions {
    border-bottom: 0.5px solid rgb(244 230 230);
}
/* css for container of navlinks */
.users-transactions > div {
    display: flex;
    margin: auto;
    width: 50%;
}
/* css to title of transactions */
.users-transactions > h1 {
    width: 100%;
    padding-bottom: 20px;
}

div.transactions-container {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* adds spacing for the navlinks */
.transactions-container > div {
}
/* gets rid of default css for navlinks so we can change them */
a:-webkit-any-link {
    text-decoration: none;
    color: black;
}
/* hovers for navlinks turn text green */
a:-webkit-any-link:hover {
    text-decoration: none;
    color: green;
}

.transaction-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
