.watchlist-details-container {
  padding-top: 67px;
  height: 100vh;
}

.current-watchlist-left-container {
  box-sizing: border-box;
  width: 35%;
  height: 90vh;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.current-watchlist-header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 50px;
}

.current-watchlist-header {
text-decoration: underline;
}

.watchlist-table-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.company-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.company-row-container:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #e9e9e9;
}

.listdet-company-name {
  /* width: 100%; */
}

.listdet-company-symbol {
  /* width: 100%; */
}

.listdet-company-price {
  /* width: 100%; */
}

.legend-row {
  text-decoration: underline;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
