.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.logo-container {
  border-right: 3px solid black;
}

.logo{
  height: 60px;
}

.navlinks-container{
  display: flex;
  align-items: center;
}

.nav-content {
  padding-left: 15px;
}

nav {
  background-color: #E9E49D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  border-bottom: 3px solid black;
  position: fixed;
  top: 0;
  width: 100%;
}
