.navigation-container {
  position: fixed;
  background-color: white;
  width: 100%;
}

.profile-dropdown {
  background-color: rgb(218, 255, 179);
  position: fixed;
  list-style-type: none;
  right: 120px;
  top: 0px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;
  width: 250px;
  height: 100px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user-options {
  background-color: rgb(218, 255, 179);
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
}

.login-shortcut {
  font-size: 25px;
  text-decoration: underline;
}


.profile-dropdown button {
  background-color: green;
  font-size: 12px;
  font-weight: 900;
  color: white;
  padding: 8px 12px;
  border: 1px black;
  border-radius: 4px;
  cursor: pointer;
}

.account-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 900;
  font-size: 12px;
}

.account-button:hover {
  color: white;
}

.profile-dropdown button:hover {
  background-color: darkgreen;
}

.profile-button {
  list-style-type: none;
  padding-right: 50px;
}

.hidden {
  display: none;
}

.logo {
  height: 60px;
}

.logo:hover {
  height: 60px;
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 20px;
  bottom: 0;
  height: 60px;
}

.logo-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  bottom: 0;
  opacity: 0;
  height: 60px;
}

.logo-hover:hover {
  opacity: 1;
}

.navlinks-container {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logout-button {
  width: 100px;
  height: 30px;
}

.nav-to-profile {
  width: 100px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  height: 30px;
  border-radius: 5px;
}

.nav-to-profile:hover {
  background-color: rgb(0, 108, 0);
  color: white;
  border-radius: 5px;
}

.searchbar-container {
  width: 700px;
}
