body {
  background-color: #E9E49D;
}

.body-container {
  background-color: #FA8334;
}

.title {
  background-color: #E9E49D;
  font-size: 100px;
}

.paragraph-one {
  background-color: #617129;
    font-size: 100px;

}

.paragraph-two {
  background-color: #2C3312;
    font-size: 100px;

}
