:root {
    overflow-x: hidden;
}

.main-portfolio-container {
  width: 80%;
  margin: auto;
  padding-top: 67px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.user-info,
.company-info {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.chart img {
  margin-top: 30px;
  width: 700px;
}

.main-left-container {
  width: 70%;
  height: 100vh;
}

.mod {
  width: 100%;
  height: 200px;
}

.watchlist {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

.main-landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.portfolio-buying-power-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid green 1px;
}

.mod > h4 {
  margin: 0px;
  margin-top: 40px;
  padding: 5px;
  border-bottom: solid green 1px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
}

.about-title {
  text-align: center;
}

.asquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.arow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

.me {
  margin: 0px;
}
